@mixin box-shadow-top($opacity: 0.16) {
	box-shadow: 0 -3px 6px rgba(0,0,0,0.16);
}

@mixin box-shadow-bottom($opacity: 0.16) {
	box-shadow: 0 3px 6px rgba(0,0,0,$opacity);
}

@mixin box-shadow-left($opacity: 0.16) {
	box-shadow: -4px 0 6px 0 rgba(0,0,0,$opacity);
}

@mixin box-shadow-right($opacity: 0.16) {
	box-shadow: 6px 0 4px 0 rgba(0,0,0,$opacity);
}

@mixin box-shadow-left-inset($opacity: 0.16) {
	box-shadow: inset 10px 0px 6px -6px rgba(0,0,0,$opacity);
}

@mixin box-shadow-right-inset($opacity: 0.16) {
	box-shadow: inset -10px 0px 6px -6px rgba(0,0,0,$opacity);
}

@mixin box-shadow-top-inset($opacity: 0.16) {
	box-shadow: inset 0px 3px 5px rgba(0,0,0,$opacity);
}

@mixin box-shadow-bottom-right($opacity: 0.16) {
	box-shadow: 3px 3px 6px rgba(0,0,0,$opacity);
}

@mixin box-shadow($shadowNames, $opacity: 0.16) {
  $map: (
    top: 0 -3px 6px rgba(0,0,0,$opacity),
    bottom: 0 3px 6px rgba(0,0,0,$opacity),
		left: -4px 0 6px 0 rgba(0,0,0,$opacity),
		right: 6px 0 4px 0 rgba(0,0,0,$opacity),
		topInset: inset 0px 3px 5px rgba(0,0,0,$opacity),
		bottomInset: inset 0px -3px 5px rgba(0,0,0,$opacity),
		leftInset: inset 10px 0px 6px -6px rgba(0,0,0,$opacity),
		rightInset: inset -10px 0px 6px -6px rgba(0,0,0,$opacity),
    // bottomRight: 3px 3px 6px rgba(0,0,0,$opacity)
    bottomRight: 0 1px 3px 0 rgba(0,0,0,0.16)
  );
  $shadowValues: ();
  @each $shadowName in $shadowNames {
    $shadowValue: map-get($map, $shadowName);
    @if $shadowValue { 
      $shadowValues: append($shadowValues, $shadowValue, comma);
    };
  }
  box-shadow: $shadowValues;
}



@mixin card-box-shadow($level: 1){
  @if ($level == 1) {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  @if ($level == 2) {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  @if ($level == 3) {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  @if ($level == 4) {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @if ($level == 5) {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  @if ($level == 6) {
    box-shadow: 0 25px 45px rgba(0,0,0,0.30), 0 20px 16px rgba(0,0,0,0.22);
  }
}