<ul>
  <li {{action "toggleFullNav"}} class="menu-toggle">
    <div class="hamburger">
      <span class="hamburger-stripe"></span>
      <span class="hamburger-stripe"></span>
      <span class="hamburger-stripe"></span>
    </div>
    {{svg/icons/icon-collapse-menu class="nav-collapse"}}
  </li>
  {{component mainMenuItemsComponent}}
</ul>
{{test-one}}