<div {{action "toggleFullNav"}} class="menu-toggle top-row">
  <div class="hamburger">
      <span class="hamburger-stripe"></span>
      <span class="hamburger-stripe"></span>
      <span class="hamburger-stripe"></span>
    </div>
    {{svg-repo/icons/icon-collapse-menu class="nav-collapse"}}
</div>
{{#ember-skeleton/sidebar-layout/main-nav-scrollable}}
  <ul>
    {{component emberSkeleton.mainNavItemsComponent sidebarProps=sidebarProps}}
  </ul>
{{/ember-skeleton/sidebar-layout/main-nav-scrollable}}