<div {{action "toggleFullNav"}} class="menu-toggle top-left">
  <div class="hamburger">
      <span class="hamburger-stripe"></span>
      <span class="hamburger-stripe"></span>
      <span class="hamburger-stripe"></span>
    </div>
    {{svg-repo/icons/icon-collapse-menu class="nav-collapse"}}
</div>
<div class="column-bottom">
<ul>
  {{component mainMenuItemsComponent}}
</ul>
</div>