<button {{action toggleSidebarExpanded}} class="sidebar-toggle top-row btn-content">
  <div class="sidebar-collapse-icon flex flex-justify-center flex-align-center">
    {{component emberSkeleton.options.collapseSideBarIconComponent}}
  </div>
</button>
{{yield}}