
<button {{action toggleSidebarExpanded}} class="sidebar-toggle top-row btn-content">
  <div class="sidebar-collapse-icon flex flex-justify-center flex-align-center">
    {{svg-repo/icons/icon-collapse-menu}}
  </div>
</button>
{{yield}}