<footer ...attributes>
  <div class="container section-padding-x text-white">
    Create your own footer by adding a component at <span class="monospace">components/ember-skeleton/footer</span> in your Ember app.
  </div>
</footer>