<div
  class="border rounded padding-lg card-box-shadow
    {{@borderColor}}
    {{@shadowLevel}}
    {{if this.materialCardHoverEffect 'card-box-shadow-hover-effect'}}"
  ...attributes
>
  {{yield}}
</div>