<div class="padding-lg text-white" ...attributes>
  Create your own sidebar content by adding a component at
  <span class="monospace">components/ember-skeleton/sidebar-content</span>
  in your Ember app.
</div>