<div class="flex flex-align-center {{ember-skeleton/theme-color-string status}}">
  {{component (ember-skeleton/theme-icon status) class=(concat "width-" (if iconWidth iconWidth "mxl") " height-" (if iconHeight iconHeight "mxl") " margin-right-md " "fill-" (ember-skeleton/theme-color-string status)) }}
  {{ember-skeleton/humanise-string status}}
</div>