<div class="flex flex-align-center {{ember-skeleton/theme-color-string status}}">
  {{#let (component ember-skeleton/theme-icon status) as |ThemeIconComponent|}}
    <ThemeIconComponent class={{concat "width-" (if iconWidth iconWidth "mxl") " height-" (if iconHeight iconHeight "mxl") " margin-right-md " "fill-" (ember-skeleton/theme-color-string status)}}  />
  {{/let}}
  {{ember-skeleton/humanise-string status}}
</div>