<div
  class="{{if this.emberSkeleton.sidebarCollapsed 'sidebar-collapsed'}}
    {{if this.emberSkeleton.sidebarToggled 'sidebar-toggled'}}"
  data-test-id="ember-skeleton-sidebar"
  ...attributes
>

  {{yield}}
</div>