/*------------------------------------------------------
ALL PAGES BITS.LESS
-------------------------------------------------------*/
$main-font-family:  "Lato", sans-serif !default;
$body-color: #000 !default;

$page-header-font-size: 3.2em !default;
$page-header-text-transform: none !default;
$page-header-text-align: initial !default;
$page-header-font-family: $main-font-family !default;
$page-header-font-weight: 700 !default;
$page-header-margin-bottom: $desktop-page-section-padding-y !default;
$page-header-line-height: 100% !default;
$page-header-font-style: normal !default;
$page-header-color: #666 !default;

/*-------------------------------------------------------------------------
DEFAULT BODY CONTENT TEXT STYLES {CORRESPONDS TO "02-bits-and-pieces.less"}
-------------------------------------------------------------------------*/

$body-content-header-color: #555 !default;
$body-content-header-background-color: transparent !default;
$body-content-header-text-transform: none !default;
$body-content-header-text-align: left !default;
$body-content-header-font-family: $main-font-family !default;
$body-content-header-font-weight: 700 !default;

$body-content-header-margin-bottom: 0.8em !default;
$body-content-header-font-style: normal !default;
$body-content-header-h1-font-size: 2.6em !default;
$body-content-header-h2-font-size: 2.8em !default;
$body-content-header-h3-font-size: 2em !default;
$body-content-header-h4-font-size: 1.8em !default;

$body-content-text-font-size: 1.5em !default;
$body-content-text-line-height: 170% !default;
$body-content-text-color: #555 !default;
$body-content-text-font-style: normal !default;
$body-content-text-font-weight: 400 !default;

$body-content-text-max-width: 615px !default;
$body-content-text-list-style: disc !default;
$body-content-paragraph-space-after: 1em !default;
$body-content-paragraph-text-align: justify !default;
$body-content-paragraph-line-height: 170% !default;

$link-font-weight: 700 !default;
$link-color: $primary !default;
$link-text-decoration: none !default;
$link-hover-color: $link-color !default;
$link-hover-text-decoration: none !default;

$body-content-form-label-color: $body-content-text-color !default;
$body-content-form-label-float: none !default;
$body-content-form-label-font-weight: 400 !default;

$blockquote-border-width: 4px !default;
$blockquote-border-color: #ccc !default;

$body-content-hr-border-top-color: $body-content-text-color !default;
$body-content-hr-border-top-width: 1px !default;
/*------------------------------
DEFAULT INTERFACE ELEMENT STYLES
------------------------------*/
$general-asterisk-color: $primary !default;
$general-asterisk-font-size: 44px !default;
$general-asterisk-line-height: 0px !default;
$general-asterisk-font-weight: 700 !default;
$general-asterisk-baseline-shift: -19px !default;

$fieldset-border-width: 2px !default;
$fieldset-border-style: solid !default;
$fieldset-border-color: green !default;
$fieldset-border-radius: 3px !default;
$fieldset-background-color: #eee !default;

$label-color: #444 !default;
$label-font-family: $main-font-family !default;
$label-font-size: $body-content-text-font-size !default;
$label-font-weight: 400 !default;
$label-line-height: 100% !default;

$input-color: #333 !default;
$input-border-color: #c9c9c9 !default;
$input-background-color: #fff !default;
$input-hover-border-color: #999 !default;
$input-focus-border-color: $primary !default;
$input-valid-border-color: #80a57c !default;
$input-valid-background-color: #E5F2E4 !default;
$input-invalid-border-color: #C67F8B !default;
$input-invalid-background-color: #F5E1E5 !default;
$input-warning-border-color: #E97C0C !default;
$input-warning-background-color: lighten(#FBC56D, 10%) !default;

$input-border-width: 1px !default;
$input-border-style: solid !default;
$input-height: 40px !default;
$input-font-family: $main-font-family !default;
$input-font-style: normal !default;
$input-text-transform: none !default;
$input-font-size: $body-content-text-font-size !default;
$input-font-weight: inherit !default;
$input-line-height: 100% !default;
$input-margin-top: 0px !default;
$input-margin-bottom: 30px !default;
$input-side-padding: 8px !default;
$input-top-bottom-padding: 2px !default;
$input-border-radius: 3px !default;

$button-color: #fff !default;
$button-background-color: $primary !default;
$button-padding-y: 10px !default;
$button-font-family: 'Lato', Arial, sans-serif !default;
$button-font-size: 1.4em !default;
$button-font-weight: 700 !default;
$button-text-transform: uppercase !default;
$button-letter-spacing: 1px !default;
$button-padding-x: 15px !default;
$button-border-radius: 3px !default;
$button-height: 40px !default;
$button-padding: 0 10px !default;
$button-text-shadow: 0 0px 0 rgba(0, 0, 0, 0) !default;
$button-background-position: center top !default;
$button-background-repeat: repeat !default;
$button-margin: 5px !default;
$button-border-width: 2px !default;

$button-disabled-color: $button-color !default;
$button-disabled-background-color:  #ccc !default;
$button-link-disabled-color: #333 !default;

$button-outline-background-color: #fff !default;

/*----------------------------------------------------------------
TABLE STYLES
----------------------------------------------------------------*/

$table-border-style: solid !default;
$table-border-color: #ccc !default;
$table-row-hover-background-color: lighten($secondary, 55%) !default;

$table-cell-padding-top: 6px !default;
$table-cell-padding-bottom: 6px !default;
$table-cell-padding-left-right: 18px !default;
$table-cell-text-line-height: 100% !default;
$table-cell-background-color: #fff !default;
$table-cell-background-image: none !default;
$table-cell-color: $body-content-text-color !default;
$table-cell-font-family: $main-font-family !default;
$table-cell-font-style: normal !default;
$table-cell-font-size: $body-content-text-font-size !default;
$table-cell-text-transform: none !default;
$table-cell-text-align: left !default;

$table-header-cell-color: #fff !default;
$table-header-cell-background-color: #bbb !default;
$table-header-cell-border-color: darken($table-header-cell-background-color, 10%) !default;
$table-header-cell-background-image: none !default;
$table-header-cell-text-transform: none !default;
$table-header-cell-text-align: left !default;
$table-header-cell-font-family: $main-font-family !default;
$table-header-cell-font-weight: 700 !default;
$table-header-cell-font-style: normal !default;
$table-header-cell-font-size: 1.5em !default;

$select-background-color: #F9F9F9 !default;
$select-border-color: #999 !default;
$select-border-radius: 3px !default;
$select-color: #555 !default;
$select-font-size: 12px !default;
$select-text-transform: none !default;
$select-font-family: Arial, Helvetica, sans-serif !default;

$option-background-color: #F9F9F9 !default;
$option-border-color: #EEEEEE !default;
$option-text-transform: none !default;
$option-color: #555555 !default;
$option-font-family: Arial, Helvetica, sans-serif !default;

$radio-checkbox-width-height: 22px !default;
$radio-checkbox-selected-background-color: #bbb !default;
$radio-checkbox-hover-background-color: #eee !default;
$radio-button-checkbox-width-height: 22px !default;

$svg-data-uri-icon-tick: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 28"  class="single-colour tick"><path fill="%23fff" d="M13 28c-0.7 0-1.3-0.2-1.9-0.7l-10-8c-1.3-1-1.5-2.9-0.5-4.2 1-1.3 2.9-1.5 4.2-0.5l7.9 6.3L32.9 0.9c1.2-1.2 3.1-1.2 4.2 0 1.2 1.2 1.2 3.1 0 4.2l-22 22C14.5 27.7 13.8 28 13 28z"/></svg>') !default;

$border-width: 1px !default;
$border-color: #ccc !default;
$border-radius: 3px !default;

$badge-font-weight: 700 !default;
$badge-padding-y: 8px !default;
$badge-padding-x: 10px !default;
$badge-border-radius: 3px !default;

$alert-padding-y: 15px !default;
$alert-padding-x: 15px !default;
$alert-border-radius:    5px !default;
$alert-link-font-weight: 600 !default;
$alert-border-width: 2px !default;
$alert-bg-level: -10 !default !default;
$alert-border-level: -9 !default !default;
$alert-color-level: 6 !default !default;
$alert-close-button-width: 50px !default;
$alert-font-size: 1.5em !default;

// List group
$list-group-border-width:  1px !default;
$list-group-item-padding-y: 12px !default;
$list-group-item-padding-x: 10px !default;
$list-group-color: #666 !default;
$list-group-bg: #fff !default;
$list-group-border-color: #ccc !default;
$list-group-action-hover-color: #222 !default;
$list-group-action-hover-bg: #ccc !default;
$list-group-active-color: #111 !default;
$list-group-active-bg: #eee !default;
$list-group-active-border-color: #999 !default;
$list-group-disabled-color: #888 !default;
$list-group-disabled-bg: #ddd !default;

$footer-info-color: #fff !default;
$footer-info-font-style: normal !default;
$footer-info-font-size: 1.3em !default;
$footer-info-font-weight: 300 !default;
$footer-info-font-family: $main-font-family !default;
$footer-info-text-transform: none !default;
$footer-info-link-color: #fff !default;
$footer-info-link-text-decoration: none !default;
$footer-info-link-hover-color: #fff !default;
$footer-info-link-hover-text-decoration: none !default;

$spacer-sm: 4px !default;
$spacer-md: 8px !default;
$spacer-lg: 16px !default;
$spacer-xl: 32px !default;