$body-text-hr-border-top-color: #666 !default;
$body-text-hr-border-top-width: 1px !default;
/*------------------------------
DEFAULT INTERFACE ELEMENT STYLES
------------------------------*/
$general-asterisk-color: $primary !default;
$general-asterisk-font-size: 36px !default;
$general-asterisk-line-height: 0px !default;
$general-asterisk-font-weight: 700 !default;
$general-asterisk-baseline-shift: -19px !default;

$fieldset-border-width: 2px !default;
$fieldset-border-style: solid !default;
$fieldset-border-color: green !default;
$fieldset-border-radius: 3px !default;
$fieldset-background-color: #eee !default;

$select-background-color: #F9F9F9 !default;
$select-border-color: #999 !default;
$select-border-radius: 3px !default;
$select-color: #555 !default;
$select-font-size: 12px !default;
$select-text-transform: none !default;
$select-font-family: Arial, Helvetica, sans-serif !default;

$option-background-color: #F9F9F9 !default;
$option-border-color: #EEEEEE !default;
$option-text-transform: none !default;
$option-color: #555555 !default;
$option-font-family: Arial, Helvetica, sans-serif !default;

$radio-checkbox-width-height: 18px !default;
$radio-checkbox-selected-background-color: #bbb !default;
$radio-checkbox-hover-background-color: #eee !default;
$radio-button-checkbox-width-height: 18px !default;

$svg-data-uri-icon-tick: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 28"  class="single-colour tick"><path fill="%23fff" d="M13 28c-0.7 0-1.3-0.2-1.9-0.7l-10-8c-1.3-1-1.5-2.9-0.5-4.2 1-1.3 2.9-1.5 4.2-0.5l7.9 6.3L32.9 0.9c1.2-1.2 3.1-1.2 4.2 0 1.2 1.2 1.2 3.1 0 4.2l-22 22C14.5 27.7 13.8 28 13 28z"/></svg>') !default;

$border-width: 1px !default;
$border-color: #ccc !default;
$border-radius: 3px !default;

$badge-font-weight: 700 !default;
$badge-padding-y: 6px !default;
$badge-padding-x: 9px !default;
$badge-border-radius: 3px !default;

$alert-padding-y: $spacer-lg !default;
$alert-padding-x: $spacer-lg !default;
$alert-border-radius: $spacer-md !default;
$alert-link-font-weight: 600 !default;
$alert-border-width: 2px !default;
$alert-bg-level: -10 !default !default;
$alert-border-level: -9 !default !default;
$alert-color-level: 6 !default !default;
$alert-close-button-width: 50px !default;
$alert-font-size: 1.5em !default;

// List group
$list-group-border-width:  1px !default;
$list-group-item-padding-y: 12px !default;
$list-group-item-padding-x: 10px !default;
$list-group-color: #666 !default;
$list-group-bg: #fff !default;
$list-group-border-color: #ccc !default;
$list-group-action-hover-color: #222 !default;
$list-group-action-hover-bg: #ccc !default;
$list-group-active-color: #111 !default;
$list-group-active-bg: #eee !default;
$list-group-active-border-color: #999 !default;
$list-group-disabled-color: #888 !default;
$list-group-disabled-bg: #ddd !default;



