$body-background-color: transparent !default;
$body-background-image: url("/assets/images/loading.gif") !default;
$body-background-repeat: no-repeat !default;
$body-background-position: center 200px !default;