$footer-background-colour: $gray-medium !default;

$footer-info-color: #fff !default;
$footer-info-font-style: normal !default;
$footer-info-font-size: 1.3em !default;
$footer-info-font-weight: 300 !default;
$footer-info-font-family: $main-font-family !default;
$footer-info-text-transform: none !default;
$footer-info-link-color: #fff !default;
$footer-info-link-text-decoration: none !default;
$footer-info-link-hover-color: #fff !default;
$footer-info-link-hover-text-decoration: none !default;
