$svg-data-uri-icon-tick: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 28"  class="single-colour tick"><path fill="%23fff" d="M13 28c-0.7 0-1.3-0.2-1.9-0.7l-10-8c-1.3-1-1.5-2.9-0.5-4.2 1-1.3 2.9-1.5 4.2-0.5l7.9 6.3L32.9 0.9c1.2-1.2 3.1-1.2 4.2 0 1.2 1.2 1.2 3.1 0 4.2l-22 22C14.5 27.7 13.8 28 13 28z"/></svg>') !default;

$label-color: #444 !default;
$label-font-family: $main-font-family !default;
$label-font-size: $body-text-font-size !default;
$label-font-weight: 400 !default;
$label-line-height: 150% !default;

$input-color: #333 !default;
$input-border-color: #c9c9c9 !default;
$input-background-color: #fff !default;
$input-hover-border-color: #999 !default;
$input-focus-border-color: $primary !default;
$input-valid-border-color: #80a57c !default;
$input-valid-background-color: #E5F2E4 !default;
$input-invalid-border-color: #C67F8B !default;
$input-invalid-background-color: #F5E1E5 !default;
$input-warning-border-color: #E97C0C !default;
$input-warning-background-color: lighten(#FBC56D, 10%) !default;
$input-disabled-color: #333 !default;
$input-disabled-border-color: #c9c9c9 !default;
$input-disabled-background-color: #eee !default;

$input-border-width: 1px !default;
$input-border-style: solid !default;
$input-height: $spacer-xxl !default;
$input-font-family: $main-font-family !default;
$input-font-style: normal !default;
$input-text-transform: none !default;
$input-font-size: $body-text-font-size !default;
$input-font-weight: inherit !default;
$input-line-height: 100% !default;
$input-margin-top: 0px !default;
$input-margin-bottom: $spacer-xl !default;
$input-side-padding: $spacer-md !default;
$input-top-bottom-padding: $spacer-sm !default;
$input-border-radius: 3px !default;

$radio-checkbox-width-height: 18px !default;
$radio-checkbox-selected-background-color: #bbb !default;
$radio-checkbox-hover-background-color: #eee !default;
$radio-button-checkbox-width-height: 18px !default;
$radio-checkbox-selected-background-size: 11px !default;
$radio-checkbox-selected-background-position: center 3px !default;

$fieldset-border-width: 2px !default;
$fieldset-border-style: solid !default;
$fieldset-border-color: green !default;
$fieldset-border-radius: 3px !default;
$fieldset-background-color: #eee !default;