/*---------------------------------------------------------
CONTENT AREA LAYOUT.LESS
---------------------------------------------------------*/

$desktop-content-container-max-width: 100% !default;
$desktop-page-section-padding-y: 30px !default;
$desktop-page-section-padding-x: 36px !default;

$pc-body-content-padding-left-right: 0px !default;
$pc-body-content-padding-top: 0px !default;
$pc-body-content-padding-bottom: 0px !default;

/*---------------------------------
ALL-PAGES-GENERAL-LAYOUT.LESS
---------------------------------*/

$body-background-color: transparent !default;
$body-background-image: url("/assets/images/loading.gif") !default;
$body-background-repeat: no-repeat !default;
$body-background-position: center 200px !default;
$body-padding-bottom: 0px !default;

$header-height: 70px !default;
$header-padding-horizontal: 10px !default;
$header-padding-vertical: 10px !default;
$header-background-color: #fafafa !default;

$sidebar-background: $gray-dark !default;
$sidebar-layout-top-bar-height: 54px !default;
$sidebar-toggle-menu-background: darken($gray-medium, 20%) !default;
$sidebar-nav-item-height: 44px !default;
$sidebar-nav-item-color: #ddd !default;
$sidebar-nav-item-active-hover-color: #fff !default;
$sidebar-expanded-width: 200px !default;
$sidebar-collapsed-width: 50px !default;
$sidebar-toggle-transition: all 0.3s ease-in-out !default;
$sidebar-toggle-menu-list-item-height: 54px !default;

$footer-height: 40px !default;
$footer-background-colour: $gray-medium !default;

/*----------------------------------------------------------------
FOOTER STRIP TEXT STYLES {CORRESPOND TO "02-bits-and-pieces.less"}
----------------------------------------------------------------*/

$header-z-index: 12 !default;
$popout-box-z-index: 12 !default;
$sidebar-z-index: 11 !default;
$sidebar-layout-top-bar-z-index: 10 !default;
$bootstrap-date-picker-popout-z-index: 1 !default;
$confirm-cancel-popout-z-index: 20000000 !default;
$info-popouts-z-index: 1 !default;
$boorstrap-tooltips-z-index: 1 !default;
$user-popout-box-z-index: 13 !default;



