$list-group-border-width: 1px !default;
$list-group-item-padding-y: 12px !default;
$list-group-item-padding-x: 10px !default;
$list-group-color: #666 !default;
$list-group-bg: #fff !default;
$list-group-border-color: #ccc !default;
$list-group-action-hover-color: #222 !default;
$list-group-action-hover-bg: #ccc !default;
$list-group-active-color: #111 !default;
$list-group-active-bg: #eee !default;
$list-group-active-border-color: #999 !default;
$list-group-disabled-color: #888 !default;
$list-group-disabled-bg: #ddd !default;
$list-group-header-font-weight: 600 !default;
