$hr-border-top-color: #666 !default;
$hr-border-top-width: 1px !default;
/*------------------------------
DEFAULT INTERFACE ELEMENT STYLES
------------------------------*/
$general-asterisk-color: $primary !default;
$general-asterisk-font-size: 36px !default;
$general-asterisk-line-height: 0px !default;
$general-asterisk-font-weight: $bold-font-weight !default;
$general-asterisk-baseline-shift: -19px !default;
