$sidebar-background: $gray-dark !default;
$sidebar-layout-top-bar-height: 54px !default;
$sidebar-toggle-menu-background: darken($gray-medium, 20%) !default;
$sidebar-nav-item-height: 44px !default;
$sidebar-nav-item-color: #ddd !default;
$sidebar-nav-item-active-hover-color: #fff !default;
$sidebar-expanded-width: 200px !default;
$sidebar-collapsed-width: 50px !default;
$sidebar-toggle-transition: all 0.3s ease-in-out !default;
$sidebar-toggle-menu-list-item-height: 54px !default;