$sidebar-background: $gray-dark !default;
$sidebar-layout-top-bar-height: 42px !default;
$sidebar-toggle-menu-background: darken($gray-medium, 20%) !default;
$sidebar-nav-item-height: $spacer-xxl !default;
$sidebar-nav-item-color: #ddd !default;
$sidebar-nav-item-active-hover-color: #fff !default;
$sidebar-expanded-width: 160px !default;
$sidebar-collapsed-width: 40px !default;
$sidebar-toggle-transition: all 0.3s ease-in-out !default;
$sidebar-toggle-menu-list-item-height: 42px !default;