$spacer-sm: 3px !default;
$spacer-md: 6px !default;
$spacer-lg: 12px !default;
$spacer-xl: 24px !default;
$spacer-xxl: 36px !default;

$spacers: () !default;
$spacers: map-merge((
  sm: $spacer-sm,
  md: $spacer-md,
  lg: $spacer-lg,
  xl: $spacer-xl,
  xxl: $spacer-xxl
), $spacers);