$main-font-family:  "Lato", sans-serif !default;
$body-color: #000 !default;

$page-header-font-size: 2.6em !default;
$page-header-text-transform: none !default;
$page-header-text-align: initial !default;
$page-header-font-family: $main-font-family !default;
$page-header-font-weight: 700 !default;
$page-header-margin-bottom: $spacer-xl !default;
$page-header-line-height: 100% !default;
$page-header-font-style: normal !default;
$page-header-color: #666 !default;

$body-text-header-color: #555 !default;
$body-text-header-background-color: transparent !default;
$body-text-header-text-transform: none !default;
$body-text-header-text-align: left !default;
$body-text-header-font-family: $main-font-family !default;
$body-text-header-font-weight: 700 !default;

$body-text-header-margin-bottom: 0.8em !default;
$body-text-header-font-style: normal !default;
$body-text-header-h1-font-size: 2.6em !default;
$body-text-header-h2-font-size: 2.3em !default;
$body-text-header-h3-font-size: 2em !default;
$body-text-header-h4-font-size: 1.7em !default;

$body-text-font-size: 1.3em !default;
$body-text-line-height: 170% !default;
$body-text-color: #555 !default;
$body-text-font-style: normal !default;
$body-text-font-weight: 400 !default;

$body-text-list-style: disc !default;
$body-text-paragraph-space-after: 1em !default;
$body-text-paragraph-text-align: justify !default;
$body-text-paragraph-line-height: 170% !default;

$link-font-weight: 700 !default;
$link-color: $primary !default;
$link-text-decoration: none !default;
$link-hover-color: $link-color !default;
$link-hover-text-decoration: none !default;