$header-z-index: 12 !default;
$sidebar-z-index: 11 !default;
$sidebar-layout-top-bar-z-index: 11 !default;
$popout-box-z-index: 10 !default;
$bootstrap-date-picker-popout-z-index: 1 !default;
$confirm-cancel-popout-z-index: 20000000 !default;
$info-popouts-z-index: 1 !default;
$boorstrap-tooltips-z-index: 1 !default;
$user-popout-box-z-index: 13 !default;