.box-arrow {
	position: relative;
}

.box-arrow:before,
.box-arrow:after  {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.box-arrow:after {
	border-color: transparent;
	border-width: 7px;
}
.box-arrow:before {
	border-color: transparent;
	border-width: 8px;
}

/*--------------------------Direction Up----------------------------*/

.box-arrow.arrow-direction-up:before,
.box-arrow.arrow-direction-up:after  {
	bottom: 100%;
}

.box-arrow.arrow-direction-up:after {
	border-bottom-color: #fff;
}
.box-arrow.arrow-direction-up:before {
	border-bottom-color: inherit;
}

/*-------------------------Direction Down---------------------------*/

.box-arrow.arrow-direction-down:before,
.box-arrow.arrow-direction-down:after  {
	top: 100%;
}

.box-arrow.arrow-direction-down:after {
	border-top-color: #fff;
}

.box-arrow.arrow-direction-down:before {
	border-top-color: inherit;
}

/*-------------------------Direction Left---------------------------*/

.box-arrow.arrow-direction-left:before,
.box-arrow.arrow-direction-left:after  {
	right: 100%;
}

.box-arrow.arrow-direction-left:after {
	border-right-color: #fff;
}

.box-arrow.arrow-direction-left:before {
	border-right-color: inherit;
}

/*-------------------------Direction Right--------------------------*/

.box-arrow.arrow-direction-right:before,
.box-arrow.arrow-direction-right:after  {
	left: 100%;
}

.box-arrow.arrow-direction-right:after {
	border-left-color: #fff;
}

.box-arrow.arrow-direction-right:before {
	border-left-color: inherit;
}

/*-------------------------Position Left--------------------------*/

.box-arrow.arrow-position-left:before,
.box-arrow.arrow-position-left:after {
   left: 10px;
}

.box-arrow.arrow-position-left:before {
	margin-left: -1px;
}

/*-------------------------Position Right--------------------------*/

.box-arrow.arrow-position-right:before,
.box-arrow.arrow-position-right:after {
   right: 10px;
}

.box-arrow.arrow-position-right:before {
	margin-right: -1px;
}

/*-------------------------Position Top--------------------------*/

.box-arrow.arrow-position-top:before,
.box-arrow.arrow-position-top:after {
   top: 10px;
}

.box-arrow.arrow-position-top:before {
	margin-top: -1px;
}

/*-------------------------Position Bottom--------------------------*/

.box-arrow.arrow-position-bottom:before,
.box-arrow.arrow-position-bottom:after {
   bottom: 10px;
}

.box-arrow.arrow-position-bottom:before {
	margin-bottom: -1px;
}
