div.main-nav {
  width: $sidebar-expanded-width;
  overflow: hidden;
  background: #333;
  &.nav-collapsed  {
    width: $sidebar-collapsed-width;
  }

  &.nav-toggled {
    transition: $sidebar-toggle-transition;
  }

   ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

   ul li {
    margin: 0;
    list-style: none;
    height: $sidebar-nav-item-height;
    width: 200px;
    font-size: 1.6em;
    letter-spacing: 0.3px;
    border-bottom: 1px solid #2b2b2b;
    text-transform: uppercase;
    color: #bbb;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

   .menu-toggle {
    background: $app-colour-shade-three;
    display: block;
    height: $sidebar-toggle-menu-list-item-height;
    border-bottom: 1px solid #666;
  }

   .menu-toggle:hover {
    cursor: pointer;
  }

   .menu-toggle div.hamburger {
    float: left;
    margin: 20px 10px 0;
  }

   .menu-toggle span.hamburger-stripe {
    height: 3px;
    width: 30px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #fff;
    margin: 0 0 4px 0;
    display: block;
  }

   .menu-toggle svg.nav-collapse {
    float: right;
    margin: 17px 15px 0 0;
    height: 22px;
    width: 30px;
    fill: #fff;
  }

   a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #fff;
    border-bottom: 1px solid #2b2b2b;
    display: flex;
    align-items: center;
    height: $sidebar-nav-item-height;
    flex-grow: 1;
  }

   a:hover  {
    color: #fff;
    background-color: #666;
    text-decoration: none;
  }

   a.active {
    background-color: #777;
    color: #fff;
    cursor: default;
    border-top-color: #777;
  }

   li svg {
    fill: #fff;
    width: $sidebar-collapsed-width;
  	height: $sidebar-nav-item-height;
  	padding: 13px;
  }
}