div.wrapper.sidebar-layout {
	background: #f6f6f6;
	height: 100%;

  &.nav-toggled {
  	transition: $sidebar-toggle-transition;
  }

  &.text-column .body-content {
  	max-width: 660px;
  }

  div.sidebar-layout-top-bar {
  	height: $interface-top-bar-height;
  	position: fixed;
  	width: 100%;
  	top: $header-height;
  	z-index: $interface-top-bar-z-index;
  	@include box-shadow-bottom;
  }

  &.top-bar-present div#main-content-strip {
  	padding-top: $interface-top-bar-height;
  }

  div#main-content-strip {
  	position: relative;
  }

  div#main-content-strip div.container-2 {
  	min-width: 580px;
  }

  .body-content {
  	max-width: 100%;
  	width: 100%;
  }

  .content-container {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    display: flex;
  }

  .column {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .left {
    flex-shrink: 0;
  }

  .top-left {
    flex-shrink: 0;
  }

  .right {
    box-shadow: inset 10px 0px 6px -6px rgba(0,0,0,0.2);
  }

  .bottom {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .test {
    	flex-grow: 1;
    }
  }
}