$alert-padding-y: $spacer-lg !default;
$alert-padding-x: $spacer-lg !default;
$alert-border-radius: $spacer-md !default;
$alert-link-font-weight: 600 !default;
$alert-border-width: 2px !default;
$alert-bg-level: -10 !default;
$alert-border-level: -9 !default;
$alert-color-level: 6 !default;
$alert-close-button-width: 50px !default;
$alert-font-size: 1.5em !default;
