$button-color: #fff !default;
$button-background-color: $primary !default;
$button-padding-y: 10px !default;
$button-font-family: 'Lato', Arial, sans-serif !default;
$button-font-size: 1.3em !default;
$button-font-weight: $bold-font-weight !default;
$button-text-transform: uppercase !default;
$button-letter-spacing: 1px !default;
$button-padding-x: $spacer-lg !default;
$button-border-radius: 3px !default;
$button-height: 36px !default;
$button-text-shadow: 0 0px 0 rgba(0, 0, 0, 0) !default;
$button-background-position: center top !default;
$button-background-repeat: repeat !default;
$button-margin: 5px !default;
$button-border-width: 2px !default;
$button-disabled-color: $button-color !default;
$button-disabled-background-color: #ccc !default;
$button-link-disabled-color: #333 !default;
$button-outline-background-color: #fff !default;
