// Alerts
@mixin alert-variant($background, $border, $color) {
  color: $color;
  background: $background;
  border-color: $border;
  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($color, 10%);
  }
  .close svg {
    fill: $color;
  }
}

// Backgrounds
@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
    &.text-yiq {
      color: color-yiq($color);
    }
    .fill-yiq {
      fill: color-yiq($color);
    }
  }

  a#{$parent},
  button#{$parent} {
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
      background-color: darken($color, 10%) !important;
    }
  }
}

@mixin bg-hover-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
    &.text-yiq {
      color: color-yiq($color);
    }
    .fill-yiq {
      fill: color-yiq($color);
    }
  }

  a#{$parent},
  button#{$parent} {
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
      background-color: darken($color, 10%) !important;
    }
  }
}

// Badge
@mixin badge-variant($bg) {
  color: color-yiq($bg);
  background-color: $bg;

  &[href] {
    &:hover,
    &:focus {
      color: color-yiq($bg);
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
  }
}

// Text
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent} {
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
      color: darken($color, 10%) !important;
    }
  }
}

// List groups
@mixin list-group-item-variant(
  $state,
  $light-variant,
  $dark-variant,
  $original-variant
) {
  .list-group-item-#{$state} {
    color: $dark-variant;
    background-color: $light-variant;
    border-color: darken($light-variant, 20%);
    &.list-group-item-action {
      &:hover,
      &:focus {
        color: darken($dark-variant, 15%);
        background-color: darken($light-variant, 10%);
      }

      &.active,
      &:active {
        color: color-yiq($dark-variant);
        background-color: lighten($dark-variant, 5%);
        border-color: darken($dark-variant, 10%);
      }
      &.disabled,
      &:disabled {
        color: $list-group-disabled-color;
        background-color: $list-group-disabled-bg;
        border-color: darken($list-group-disabled-bg, 10%);
      }
    }
  }
  .list-group-item-header-#{$state} {
    color: color-yiq($original-variant);
    background-color: $original-variant;
    border-color: darken($original-variant, 20%);
  }
}

// Button variants
@mixin button-variant(
  $background,
  $hover-background: darken($background, 15%)
) {
  color: color-yiq($background);
  background: $background;
  border-color: $background;
  svg {
    fill: color-yiq($background);
  }
  &:hover:not(:disabled):not(.disabled) {
    color: color-yiq($background);
    background: $hover-background;
    border-color: $hover-background;
  }
  &:focus,
  &.focus {
    background: $hover-background;
    border-color: $hover-background;
    box-shadow: 0 0 0 3px rgba($background, 0.5);
  }
}

@mixin button-outline-variant(
  $color,
  $color-hover: color-yiq($color),
  $active-background: $color,
  $active-border: $color
) {
  color: $color;
  background-color: $button-outline-background-color;
  background-image: none;
  border-color: $color;
  &:hover {
    color: $color-hover;
    background-color: $active-background;
    border-color: $active-border;
    svg {
      fill: $color-hover;
    }
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px rgba($color, 0.5);
  }
  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border;
    &:focus {
    }
  }
  svg {
    fill: $color;
  }
}

@mixin fill-variant($bg) {
  fill: $bg !important;
}

@mixin stroke-variant($bg) {
  stroke: $bg !important;
}
