div.main-nav {
  max-width: $sidebar-expanded-width;
  overflow-y: auto;
  overflow-x: hidden;
  background: $sidebar-background;
  &.nav-collapsed {
    max-width: $sidebar-collapsed-width;
  }

  &.nav-toggled {
    transition: $sidebar-toggle-transition;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul li {
    margin: 0;
    list-style: none;
    height: $sidebar-nav-item-height;
    width: $sidebar-expanded-width;
    font-size: $main-nav-item-font-size;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: $gray-light;
    display: flex;
    align-items: center;
    background: $gray-dark;
    &.no-link {
      padding: 0 $spacer-lg;
    }
  }

  // TODO move to Hyrax
  .menu-toggle {
    background: $sidebar-toggle-menu-background;
    display: flex;
    justify-content: space-between;
    height: $sidebar-toggle-menu-list-item-height;
    border-bottom: 1px solid #666;
    width: $sidebar-expanded-width;
  }

  .menu-toggle svg.nav-collapse {
    height: 18px;
    fill: $sidebar-nav-item-color;
  }

  .hamburger {
    .hamburger-stripe {
      height: 2px;
      width: 26px;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      background: $sidebar-hamburger-color;
      display: block;
    }
  }

  .hamburger .hamburger-stripe:not(:last-child) {
    margin-bottom: 4px;
  }

  a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    text-transform: none;
    font-weight: 400;
    color: $sidebar-nav-item-color;
    display: flex;
    align-items: center;
    height: $sidebar-nav-item-height;
    flex-grow: 1;
  }

  a:hover {
    color: $sidebar-nav-item-active-hover-color;
    background-color: #777;
    text-decoration: none;
  }

  a.active {
    background-color: #777;
    color: $sidebar-nav-item-active-hover-color;
    cursor: default;
  }

  li svg {
    fill: #fff;
    width: $sidebar-collapsed-width;
    height: $sidebar-nav-item-height;
    padding: $spacer-lg;
  }
}

.nav-frozen .main-nav ul {
  opacity: 0.3;
  li a:hover {
    cursor: not-allowed;
    background: transparent;
  }
}
