@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

@each $color, $value in $theme-colors {
  .fill-#{$color} {
    @include fill-variant($value);
  }
}

.hidden {
  display:none !important;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

hr {
  border-width: 0;
  border-top: $body-content-hr-border-top-width solid $body-content-hr-border-top-color;
  margin: 1em 0;
}

.all-selected .radio-checkbox-dummy svg path.tick,
.input-radio-checkbox input:checked + .radio-checkbox-dummy svg path.tick {
  display: block;
}

.some-selected .input-radio-checkbox .radio-checkbox-dummy svg path.line {
  display: block;
}

.clear,
.clr {
  clear: both;
  line-height: 0;
}

.asterisk {
  display: inline-block;
  color: $general-asterisk-color;
  font-size: $general-asterisk-font-size;
  font-weight: $general-asterisk-font-weight;
  line-height: $general-asterisk-line-height;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: $general-asterisk-baseline-shift;
  margin-right: 3px;
}

svg.inline {
  display: inline-block;
}

div.wrapper.placeholders label.placeholder {
  display: none;
}

div.form-container {
  max-width: 500px;

}

div.plot-container.plotly div.modebar svg {
  width: 1em;
}

img.border {
  border: 1px solid #ccc;
}

.monospace {
  font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
}

.incrementing-arrow.left-right {
  height: 30px;
  width: 13px;
}

.incrementing-arrow.left-right svg {
  height: 30px;
}

.incrementing-arrow.up-down {
  width: 30px;
  height: 13px;
}

.incrementing-arrow.up-down svg {
  height: 13px;
}

.list-style-none {
  list-style: none;
}

.list-style-none li, 
.body-content .list-style-none li {
  padding-left: 0;
  margin-left: 0;
}

div.pop-up-box {
  padding: 15px;
  background: #fff;
  @include box-shadow-bottom-right;
  border: 1px solid #bbb;
  border-radius: $button-border-radius;
  margin: 10px 0;
}


