.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  color: $list-group-color;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  margin-bottom: -$list-group-border-width;
  background-color: $list-group-bg;
  border: $list-group-border-width solid $list-group-border-color;
  &:hover,
  &:focus {
    z-index: 1;
    text-decoration: none;
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    background-color: $list-group-disabled-bg;
    border-color: darken($list-group-disabled-bg, 10%);
  }

  &.active {
    z-index: 2;
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }
}

.list-group-item-action {
  width: 100%;
  color: $list-group-color;
  text-align: inherit;
  &:hover,
  &:focus {
    color: $list-group-action-hover-color;
    text-decoration: none;
    background-color: $list-group-action-hover-bg;
  }
  &.disabled {
    cursor: not-allowed;
  }

  &:active {
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
  }
}

.list-group-flush {
  > .list-group-item {
    margin-bottom: 0;
    border-width: 0 0 $list-group-border-width;
    &:last-child {
      border-bottom-width: 0;
    }
  }
}

.list-group-item-header {
  font-weight: $list-group-header-font-weight;
}

@each $color, $value in $theme-colors {
  @include list-group-item-variant(
    $color,
    theme-color-level($color, -9),
    theme-color-level($color, 2),
    theme-color-level($color)
  );
}
