@each $spacing-type in 'padding', 'margin' {
  @each $key, $value in $spacers {
    .#{$spacing-type}-#{$key} {
      #{$spacing-type}: $value;
    }
  }
}
@each $spacing-type in 'padding', 'margin' {
  @each $key, $value in $spacers {
    .#{$spacing-type}-x-#{$key} {
      #{$spacing-type}-left: $value;
      #{$spacing-type}-right: $value;
    }
    .#{$spacing-type}-y-#{$key} {
      #{$spacing-type}-top: $value;
      #{$spacing-type}-bottom: $value;
    }
  }
}

@each $spacing-type in 'padding', 'margin' {
  @each $key, $value in $spacers {
    .#{$spacing-type}-top-#{$key} {
      #{$spacing-type}-top: $value;
    }
    .#{$spacing-type}-bottom-#{$key} {
      #{$spacing-type}-bottom: $value;
    }
     .#{$spacing-type}-left-#{$key} {
      #{$spacing-type}-left: $value;
    }
     .#{$spacing-type}-right-#{$key} {
      #{$spacing-type}-right: $value;
    }
  }
}

.last-child-margin-bottom-0:last-child {
  margin-bottom: 0 !important;
}

.last-child-border-bottom-0:last-child {
  border-bottom-width: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.body-text ul.margin-0 {
  margin: 0;
}