@each $color, $value in $theme-colors {
  .fill-#{$color} {
    @include fill-variant($value);
  }

  .stroke-#{$color} {
    @include stroke-variant($value);
  }
}

.foreground-graphic {
  fill: $svg-foreground-graphic-fill;
  stroke: $svg-foreground-graphic-stroke-color;
}
