table {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-collapse: collapse;
  border: 1px $table-border-style $table-border-color;

}

table th {
  color: $table-header-cell-color;
  background-color: $table-header-cell-background-color;
  font-size: $table-header-cell-font-size/$body-content-text-font-size;
  text-transform: $table-header-cell-text-transform;
  text-align: $table-header-cell-text-align;
  font-family: $table-header-cell-font-family;
  font-weight: $table-header-cell-font-weight;
  padding: $table-cell-padding-top $table-cell-padding-left-right $table-cell-padding-bottom;
  border: 1px $table-border-style $table-header-cell-border-color;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  font-size: $table-header-cell-font-size/$body-content-text-font-size;
  line-height: 100%;
}

table td {
  color: inherit;
  background-color: $table-cell-background-color;
  font-family: $table-cell-font-family;
  line-height: $table-cell-text-line-height;
  padding: $table-cell-padding-top $table-cell-padding-left-right $table-cell-padding-bottom;
  font-size: 1em;
  border: 1px $table-border-style $table-border-color;
  border-bottom-width: 0;
}

table.compact-table {
  tr td {
    background-color: #fff;
    border-color: #d9d9d9;
    padding: 5px 10px;
  }
  /*---Make every second row a different colour---*/

  &.striped tr:nth-child(even) td {
    background-color: #f4f4f4;
  }

  tr.table-header td {
    border-bottom-width: 0;
  }

  tr th {
    background-color: #aaa;
    color: #f9f9f9;
    font-weight: 700;
    border: 1px solid #888;
    padding: 3px 10px;
    height: inherit;
    line-height: inherit;
  }
}