table {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-collapse: collapse;
  border: 1px $table-border-style $table-border-color;
  font-size: 1em;
  &.striped tr:nth-child(even) td {
    background-color: #f4f4f4;
  }
  th {
    color: $table-header-cell-color;
    background-color: $table-header-cell-background-color;
    font-size: #{$table-header-cell-font-size/$body-text-font-size}em;
    text-transform: $table-header-cell-text-transform;
    text-align: $table-header-cell-text-align;
    font-family: $table-header-cell-font-family;
    font-weight: $table-header-cell-font-weight;
    padding: $table-cell-padding-y $table-cell-padding-x;
    border: 1px $table-border-style $table-header-cell-border-color;
    line-height: 100%;
  }
  td {
    color: inherit;
    background-color: $table-cell-background-color;
    font-family: $table-cell-font-family;
    line-height: $table-cell-text-line-height;
    padding: $table-cell-padding-y $table-cell-padding-x;
    font-size: 1em;
    border: 1px $table-border-style $table-border-color;
  }
  &.compact-table {
    > tbody > tr > td {
      background-color: #fff;
      border-color: #d9d9d9;
      padding: 3px 10px;
    }
  }
  
  &.light-header > thead > tr > th {
    color: inherit;
    background-color: $table-cell-background-color;
    border: 1px $table-border-style $table-border-color;
  }
}





