@use "sass:math";

body {
  font-size: 62.5%;
  color: $body-color;
  font-family: $main-font-family;
}

.page-header {
  color: $page-header-color;
  font-size: $page-header-font-size;
  text-transform: $page-header-text-transform;
  text-align: $page-header-text-align;
  font-family: $page-header-font-family;
  font-weight: $page-header-font-weight;
  line-height: $page-header-line-height;
  margin-top: 0;
  margin-bottom: $page-header-margin-bottom;
}

a,
.faux-link {
  color: $link-color;
  text-decoration: $link-text-decoration;
  font-weight: $link-font-weight;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-text-decoration;
    cursor: pointer;
  }
  &.no-underline,
  &.no-underline:hover {
    text-decoration: none;
  }
}

p {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4 {
  color: $body-text-header-color;
  text-transform: $body-text-header-text-transform;
  font-family: $body-text-header-font-family;
  font-weight: $body-text-header-font-weight;
  font-style: $body-text-header-font-style;
  margin-top: 0;
  line-height: 150%;
  padding: 0;
  background-color: transparent;
}
h1 {
  font-size: $body-text-header-h1-font-size;
}
h2 {
  font-size: $body-text-header-h2-font-size;
}
h3 {
  font-size: $body-text-header-h3-font-size;
}
h4 {
  font-size: $body-text-header-h4-font-size;
}

.body-text {
  .body-text {
    font-size: 1em;
  }
  color: $body-text-color;
  font-family: $main-font-family;
  font-style: $body-text-font-style;
  font-size: $body-text-font-size;
  font-weight: $body-text-font-weight;
 
  h1, h2, h3, h4 {
    margin-bottom: $body-text-header-margin-bottom;
  }

  h1 {
    font-size: #{math.div($body-text-header-h1-font-size, $body-text-font-size)}em;
  }
  h2 {
    font-size: #{math.div($body-text-header-h2-font-size, $body-text-font-size)}em;
  }
  h3 {
    font-size: #{math.div($body-text-header-h3-font-size, $body-text-font-size)}em;
  }
  h4 {
    font-size: #{math.div($body-text-header-h4-font-size, $body-text-font-size)}em;
  }
  p {
    margin-bottom: $body-text-paragraph-space-after;
  }
  p, dd, dt, ul li, ol li {
    line-height: $body-text-line-height;
  }
  ul, ol {
    margin-bottom: $body-text-paragraph-space-after;
    padding: 0px;
  }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0;
  }
  ul li, ol li {
    font-family: $main-font-family;
    margin-left: 1em;
    padding-left: 0.5em;
  }
  sup, sub {
    font-size: 0.7em;
  }
}

.text-larger {
  font-size: $text-larger-size;
}

.text-smaller {
  font-size: $text-smaller-size;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.text-column {
  max-width: $text-column-max-width;
  line-height: $text-column-line-height;
  @if $text-column-justify-paragraph-min-width {
    @media (min-width: $text-column-justify-paragraph-min-width) {
      p {
        text-align: justify;
      }
    }
  }
}

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

.monospace {
  font-family: $monospace-font-family !important;
}

.list-style-none,
.body-text .list-style-none {
  list-style: none;
  li {
    padding-left: 0;
    margin-left: 0;
  }
}