{{#layouts/sidebar-layout/outer-wrapper systemAlert=systemAlert class="dashboard"}}
  {{#layouts/content-wrapper title="Dashboard"}}
    {{!-- {{extensible/validating-form-field
      fieldSchema=customFieldSchema
      afterValidation=(action "checkAllowNext")
      customValidations=(action "customValidations")
    }}
    {{#if allowNext}}<button>Next</button>{{/if}} --}}
    {{hyrax-svg/icon-pathogen}}
  {{/layouts/content-wrapper}}
{{/layouts/sidebar-layout/outer-wrapper}}