{{#ember-skeleton/sidebar-layout/outer-wrapper systemAlert=systemAlert class="dashboard"}}
  {{#ember-skeleton/content-wrapper title="Dashboard"}}
    {{!-- {{extensible/validating-form-field
      fieldSchema=customFieldSchema
      afterValidation=(action "checkAllowNext")
      customValidations=(action "customValidations")
    }}
    {{#if allowNext}}<button>Next</button>{{/if}} --}}
    {{hyrax-svg-repo/icon-pathogen}}
  {{/ember-skeleton/content-wrapper}}
{{/ember-skeleton/sidebar-layout/outer-wrapper}}