{{#layouts/sidebar-layout/outer-wrapper systemAlert=systemAlert class="dashboard"}}
  {{#layouts/content-wrapper title="Dashboard"}}
  <div id="ember-basic-dropdown-content-ember157" class="ember-basic-dropdown-content user-actions  ember-basic-dropdown-content--right ember-basic-dropdown-content--below ember-basic-dropdown--transitioned-in ember-view" style="top: 45px;right: 20px;"><div class=" pop-up-box box-arrow ">
    <ul>
        <li><a href="/edit-account" id="ember169" class="ember-view">Edit account</a></li>
        <li><a href="/change-password" id="ember173" class="ember-view">
        Change password</a></li>
        <li><a href="/logout?userInitiated=true" id="ember179" class="ember-view">Sign out</a></li>
    </ul>
   </div>
  </div>
    {{sample-content}}
  {{/layouts/content-wrapper}}
{{/layouts/sidebar-layout/outer-wrapper}}