.flex-row {
  display: flex;
  align-items: center;
  & > * {
    margin-right: 8px;
  }
  &.flush-right-edge {
    & > *:last-child {
      margin-right: 0;
    }
  }
  &.space-between {
    justify-content: space-between;
    & > * {
      margin: 0;
    }
  }
}
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline-flex {
  display: inline-flex;
}

.flex-columns {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-expand {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-items-center {
  align-items: center;
}