.flex-row {
  display: flex;
  align-items: center;
  & > * {
    margin-right: 8px;
  }
  &.flush-right-edge {
    & > *:last-child {
      margin-right: 0;
    }
  }
  &.space-between {
    justify-content: space-between;
    & > * {
      margin: 0;
    }
  }
}

.flex-columns {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-expand {
  flex-grow: 1;
}

