html {
	padding: 0;
	margin: 0;
}

body {
	background: $body-background-color $body-background-image $body-background-repeat $body-background-position;
	background-size: 150px;
	margin: 0;
	padding: 0 0 $body-padding-bottom 0;

}

.container  {
	width: 100%;
	max-width: $desktop-content-container-max-width;
	margin-left: auto;
	margin-right: auto;
}

.section-padding-left {
	padding-left: $desktop-page-section-padding-x;
}

.section-padding-right {
	padding-left: $desktop-page-section-padding-x;
}

.section-padding-x {
	padding-left: $desktop-page-section-padding-x;
	padding-right: $desktop-page-section-padding-x;
}

.section-padding-top {
	padding-top: $desktop-page-section-padding-y;
}

.section-padding-bottom {
	padding-bottom: $desktop-page-section-padding-y;
}

.section-padding-y {
	padding-top: $desktop-page-section-padding-y;
	padding-bottom: $desktop-page-section-padding-y;
}

div.wrapper  {
	padding-top: $header-height;
	box-sizing: border-box;


	header {
		background-color: $header-background-color;
		height: $header-height;
		position: fixed;
		top: 0;
		z-index: $header-z-index;
		@include box-shadow-bottom;
		box-sizing: border-box;
		width: 100%;
		display: flex;
	  align-items: center;
	  justify-content: space-between;
	}

	/*-------------------
	MAIN SITE LOGO STYLES
	-------------------*/

	div.logo-container {
		width: $sidebar-expanded-width;
		box-sizing: border-box;
		padding: 10px;
		float: left;
		background-color: #fafafa;
	}

	div.logo-container svg,
	div.logo-container svg  {
		height: $header-height - 2*$header-padding-vertical;
		width: auto;
		float: left;
	}

	div.logo-container a {
		display: block;
	}
	div.logo-container a:link,
	div.logo-container a:visited,
	div.logo-container a:hover {
		text-decoration: none;
	}

	div.logo-container img {
		width: 100%;
		height: auto;
	}



	footer {
		box-sizing: border-box;
		background: $footer-background-colour;
		padding: 12px 0;
		width: 100% !important;
	}

	footer ul {
		font-size: 1em;
		margin: 0;
		padding: 0px 0;
	}

	footer ul li {
		list-style: none;
		text-align: center;
		color: $footer-info-color;
		font-style: $footer-info-font-style;
		font-weight: $footer-info-font-weight;
		font-family: $footer-info-font-family;
		text-transform: $footer-info-text-transform;
		font-size: $footer-info-font-size;
		float: left;
		margin-right: 15px;
	}

	footer ul li a {
		color: $footer-info-link-color;
		text-decoration: $footer-info-link-text-decoration;
		font-weight: 300;
	}

	footer ul li a:hover {
		color: $footer-info-link-hover-color;
		text-decoration: $footer-info-link-hover-text-decoration;
	}

	div.centred-logo-vertical {
		max-width: 240px;
		margin: 0 auto;
		margin-top: 30px;
	}
}
