header {
  background-color: $header-background-color;
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: $header-z-index;
  @include box-shadow(bottom);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div.logo-container {
    width: $sidebar-expanded-width;
    padding: 10px;
    flex-shrink: 0;
    overflow: hidden;
    height: $header-height;
  }
  
  div.logo-container svg,
  div.logo-container img  {
    height: $header-height - 2*$header-padding-vertical;
    width: auto;
  }
  
  div.logo-container a {
    display: block;
  }
  div.logo-container a:link,
  div.logo-container a:visited,
  div.logo-container a:hover {
    text-decoration: none;
  }
}