html {
  padding: 0;
  margin: 0;
}

// Allows the footer to stick to the bottom of the page if the content does not reach that far.
html,
body,
body > div.ember-view {
  height: 100%;
}

body {
  background-color: $body-background-color;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  color: $body-color;
  line-height: inherit;
  font-family: $main-font-family;
}