div.wrapper  {
	padding-top: $header-height;
	&.hide-content .main-content {
		display: none;
	}
}

div.centred-logo-vertical {
	max-width: 240px;
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
}

.margin-x-auto {
	margin-left: auto;
	margin-right: auto;
}

.box-shadow {
  @include box-shadow(bottomRight);
}

.card-box-shadow {
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  @include card-box-shadow;
  &.card-box-shadow-hover-effect:hover {
    @include card-box-shadow($level:2);
  }
  &.card-box-shadow-level-2 {
    @include card-box-shadow($level:2);
    &.card-box-shadow-hover-effect:hover {
      @include card-box-shadow($level:3);
    }
  }
  &.card-box-shadow-level-3 {
    @include card-box-shadow($level:3);
    &.card-box-shadow-hover-effect:hover {
      @include card-box-shadow($level:4);
    }
  }
  &.card-box-shadow-level-4 {
    @include card-box-shadow($level:4);
    &.card-box-shadow-hover-effect:hover {
      @include card-box-shadow($level:5);
    }
  }
  &.card-box-shadow-level-5 {
    @include card-box-shadow($level:5);
    &.card-box-shadow-hover-effect:hover {
      @include card-box-shadow($level:5);
    }
  }
  &.card-box-shadow-hover-effect:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

.inline-block {
  display: inline-block;
}