div.wrapper  {
	padding-top: $header-height;
	&.hide-content .main-content {
		display: none;
	}
}

div.centred-logo-vertical {
	max-width: 240px;
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
}

.margin-x-auto {
	margin-left: auto;
	margin-right: auto;
}

.box-shadow {
  @include box-shadow(bottomRight);
}

