div.wrapper.panel-layout {
  height: 100%;
  overflow: hidden;
  h1 {
   text-align: center;
  }


  .form-container {
    margin: 0 auto;
    width: 600px;
  }


  .panel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .main-content {
      flex-grow: 1;
      // flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  footer .container {
    display: flex;
    justify-content: center;
  }
}




