div.wrapper.panel-layout {
  height: 100%;
  overflow: hidden;
  h1 {
	 text-align: center;
  }

  .body-content {
  	max-width: 600px;
  	margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .panel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    .main-content {
      flex-grow: 1;
    }
  }

  footer .container {
    display: flex;
    justify-content: center;
  }

}




