

.wrapper.sidebar-layout {
	background-color: #f6f6f6;
	height: 100%;

  &.nav-toggled {
  	transition: $sidebar-toggle-transition;
  }

  &.text-column .body-content {
  	max-width: 660px;
  }

  div.sidebar-layout-top-bar {
  	height: $sidebar-layout-top-bar-height;
  	position: fixed;
  	width: 100%;
  	top: $header-height;
  	z-index: $sidebar-layout-top-bar-z-index;
  	@include box-shadow-bottom;
  }

  &.content-header div.column.right-column {
  	padding-top: $sidebar-layout-top-bar-height;
  }

  .columns-container {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    display: flex;
    .column {
      height: 100%;
      display: flex;
      flex-direction: column;
      &.left-column {
        flex-shrink: 0;
        .top-left {
          flex-shrink: 0;
        }
      }
      &.right-column {
        position: relative;
        box-shadow: inset 10px 0px 6px -6px rgba(0,0,0,0.2);
        flex-grow: 1;
        .body-content {
          max-width: 100%;
          width: 100%;
        }
      }
      .column-bottom {
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        .main-content {
          flex-grow: 1;
        }
      }
    }
  }
}