

.wrapper.sidebar-layout {
	background-color: #f6f6f6;
	height: 100%;

  &.nav-toggled {
  	transition: $sidebar-toggle-transition;
  }

  &.text-column .body-content {
  	max-width: 660px;
  }

  div.sidebar-layout-top-bar {
  	height: $sidebar-layout-top-bar-height;
  	position: fixed;
  	width: 100%;
  	top: $header-height;
  	z-index: $sidebar-layout-top-bar-z-index;
  	@include box-shadow-bottom;
  }

  &.content-header div.column.right-column {
  	padding-top: $sidebar-layout-top-bar-height;
  }

  .sidebar-layout-columns-container {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    .sidebar-layout-left-column {
      height: 100%;
      flex-shrink: 0;
      .top-row {
        flex-shrink: 0;
      }
    }
    .sidebar-layout-right-column {
      height: 100%;
      position: relative;
      box-shadow: inset 10px 0px 6px -6px rgba(0,0,0,0.2);
      .body-content {
        max-width: 100%;
        width: 100%;
      }
    }
    .bottom-row {
      overflow-y: auto;
    }
  }
}