div.alert {
  background: $info-color;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 2px solid darken($info-color, 20%);
  .close {
    background: transparent;
    cursor: pointer;
    display: block;
    padding: 15px;
    height: auto;
    line-height: normal;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
  }
  .close svg {
    width: 20px;
    fill: #fff;
    margin: 0;
  }

  div.message-content {
    padding: 15px 15px 15px 0;
    font-size: 1.5em;
    color: #fff;
  }
}

div.alert.alert-primary {
  background: $info-color;
  border: 2px solid darken($info-color, 20%);
}

div.alert.alert-error {
  background: $danger-color;
  border: 2px solid darken($danger-color, 20%);
}

div.alert.alert-success {
  background: $success-color;
  border: 2px solid darken($success-color, 20%);
}

div.alert.alert-warning {
  background: $warning-color;
  border: 2px solid darken($warning-color, 20%);
}
