$spacer-sm: 4px !default;
$spacer-md: 8px !default;
$spacer-lg: 16px !default;
$spacer-xl: 32px !default;

.padding-sm: padding: $spacer-sm;
.padding-top-sm: padding-top: $spacer-sm;
.padding-right-sm: padding-right: $spacer-sm;
.padding-bottom-sm: padding-bottom: $spacer-sm;
.padding-left-sm: padding-left: $spacer-sm;

.padding-md: padding: $spacer-md;
.padding-top-md: padding-top: $spacer-md;
.padding-right-md: padding-right: $spacer-md;
.padding-bottom-md: padding-bottom: $spacer-md;
.padding-left-md: padding-left: $spacer;

.padding-lg: padding: $spacer-lg;
.padding-top-lg: padding-top: $spacer-lg;
.padding-right-lg: padding-right: $spacer-lg;
.padding-bottom-lg: padding-bottom: $spacer-lg;
.padding-left-lg: padding-left: $spacer-lg;

.padding-xl: padding: $spacer-xl;
.padding-top-xl: padding-top: $spacer-xl;
.padding-right-xl: padding-right: $spacer-xl;
.padding-bottom-xl: padding-bottom: $spacer-xl;
.padding-left-xl: padding-left: $spacer-xl;

.margin-sm: margin: $spacer-sm;
.margin-top-sm: margin-top: $spacer-sm;
.margin-right-sm: margin-right: $spacer-sm;
.margin-bottom-sm: margin-bottom: $spacer-sm;
.margin-left-sm: margin-left: $spacer-sm;

.margin-md: margin: $spacer-md;
.margin-top-md: margin-top: $spacer-md;
.margin-right-md: margin-right: $spacer-md;
.margin-bottom-md: margin-bottom: $spacer-md;
.margin-left-md: margin-left: $spacer-md;

.margin-lg: margin: $spacer-lg;
.margin-top-lg: margin-top: $spacer-lg;
.margin-right-lg: margin-right: $spacer-lg;
.margin-bottom-lg: margin-bottom: $spacer-lg;
.margin-left-lg: margin-left: $spacer-lg;

.margin-xl: margin: $spacer-xl;
.margin-top-xl: margin-top: $spacer-xl;
.margin-right-xl: margin-right: $spacer-xl;
.margin-bottom-xl: margin-bottom: $spacer-xl;
.margin-left-xl: margin-left: $spacer-xl;