*,
*::before,
*::after {
  box-sizing: border-box;
}

$spacers: (
  sm: $spacer-sm,
  md: $spacer-md,
  lg: $spacer-lg,
  xl: $spacer-xl,
  xxl: $spacer-xxl
);

@each $spacing-type in 'padding', 'margin' {
  @each $key, $value in $spacers {
    .#{$spacing-type}-#{$key} {
      #{$spacing-type}: $value;
    }
    .#{$spacing-type}-x-#{$key} {
      #{$spacing-type}-left: $value;
      #{$spacing-type}-right: $value;
    }
    .#{$spacing-type}-y-#{$key} {
      #{$spacing-type}-top: $value;
      #{$spacing-type}-bottom: $value;
    }
    .#{$spacing-type}-top-#{$key} {
      #{$spacing-type}-top: $value;
    }
    .#{$spacing-type}-bottom-#{$key} {
      #{$spacing-type}-bottom: $value;
    }
     .#{$spacing-type}-left-#{$key} {
      #{$spacing-type}-left: $value;
    }
     .#{$spacing-type}-right-#{$key} {
      #{$spacing-type}-right: $value;
    }
  }
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

svg.svg-sm {
  width: 4px;
}

svg.svg-md {
  width: 8px;
}

svg.svg-lg {
  width: 16px;
}

svg.svg-xl {
  width: 32px;
}

.width-100 {
  width: 100%;
}